<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434346116313-2421p40nd39312jcassm0o9cemjco04f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434346116313-2421p40nd39312jcassm0o9cemjco04f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>434346116313-faif9jomgvlgs1agr80rojcndhb4ll9i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3z_1TIKpU4gobuthhUhuaNjygd3qz2T0</string>
	<key>GCM_SENDER_ID</key>
	<string>434346116313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitrine.vitrineagro</string>
	<key>PROJECT_ID</key>
	<string>food-io-221d5</string>
	<key>STORAGE_BUCKET</key>
	<string>food-io-221d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434346116313:ios:b5f03f3478ce7b5b46aac8</string>
	<key>DATABASE_URL</key>
	<string>https://food-io-221d5.firebaseio.com</string>
</dict>
</plist>